<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830127784291-j53m8l4m0j5nboa39bqvb8ml1t27j76m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830127784291-j53m8l4m0j5nboa39bqvb8ml1t27j76m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>830127784291-39ajr6j1nfsdroqh7j6lh0e03eflmtic.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5vyRaVASjJde4NgVR_UdlUTwo-QN-FaM</string>
	<key>GCM_SENDER_ID</key>
	<string>830127784291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.kyons.student.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kyonsvn</string>
	<key>STORAGE_BUCKET</key>
	<string>kyonsvn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830127784291:ios:2045fc6b6d22212a1b5356</string>
</dict>
</plist>